
{{!-- div to show all burgers --}}
<button id="showAllBurgers"> Show All Burgers</button>
<div id="all-burgers-div"></div>
<hr>

<hr>

<ul>
    <h1>All devoured Bergures</h1>
    {{#each allBurgers}}        
        {{#if this.devoured}}
            {{this.burger_name}} 
            {{> burgers/burger-block devoured=false>}}
        {{/if}}
    {{/each}}
</ul>
<hr>

<ul>
    <h1>None devoured Bergures</h1>
    {{#each allBurgers}}       
        {{#unless this.devoured}}
            {{this.burger_name}} 
            {{> burgers/burger-block devoured=true>}}
        {{/unless}}
    {{/each}}
</ul>
<hr>


<form class="create-form">

  <div class="form-group">
    <label for="burger_name">Enter Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <div class="form-group">
    <label for="divoured">Devoured?</label><br>
    <input type="radio" name="divoured" value="1" checked> Divoured!<br>
    <input type="radio" name="divoured" value="0"> Hmm; Not Divoured!
  </div>
  <button type="submit" id="addNewBurg">Add this burger</button>
</form>
