<li>
    {{this.burger_name}}
    <button class="change-stat" data-id="{{this.id}}" data-newStat="{{this.devoured}}">
        {{#if this.devoured}}DEVOURED IS true!{{else}}DEVOURED IS false!{{/if}}
    </button>

</li>
